<div class="container">
  <div class="row">
    <h3>Users</h3>
    <div class="column">
      <table class="table">
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <%= render user %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <%= link_to destroy_user_session_path, method: :delete do %>
    <i class="fa fa-sign-out"></i> Sign out
  <% end %>
</div>
