<h3>User</h3>
<p>Name: <%= @user.name if @user.name %></p>
<p>Email: <%= @user.email if @user.email %></p>
<%= link_to destroy_user_session_path, method: :delete do %>
    <i class="fa fa-sign-out"></i> Sign out
<% end %>
